# Archivo de ejemplo para variables de entorno

# Clave de API de la agencia
AGENCIA_API_KEY=
# URL de la API externa
EXTERNAL_API_URL=
# Timeout para las solicitudes a la API externa
EXTERNAL_API_TIMEOUT=
